p {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.new {
  color: rgb(245, 99, 0);
  margin-bottom: 10px;
}

.product {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 15px;
}

.price {
  margin-bottom: 25px;
}

.buy {
  background-color: rgb(0, 113, 227);
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}


p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.price {
  font-size: 32px;
  margin-bottom: 5px;
}

.currency {
  font-size: 16px;
  color: rgb(100, 100, 100);
}

.change {
  color: rgb(24, 128, 56);
  margin-bottom: 8px;
}

.after-hours {
  color: rgb(100, 100, 100);
}

.after-hours-change {
  color: rgb(235, 39, 39);
}

p {
  font-family: Arial;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.tweet-header {
  margin-bottom: 5px;
}

.tweet-author {
  font-weight: bold;
}

.tweet-info {
  color: rgb(100, 100, 100);
}

.tweet {
  width: 600px;
  line-height: 25px;
  margin-bottom: 20px;
}

.twitter-handle {
  color: rgb(29, 155, 240);
}